﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Lock</title>
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gruppo&display=swap" rel="stylesheet">
</head>
<body>

<div id="code-lock-container">
    <div id="display-container">
        <input id="display" class="display-lock-closed" type="number" readonly="readonly" value="">
        <svg id="signal-icon" height="30" viewBox="0 0 512 512" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m60 512c33.1 0 61-26.9 61-60s-27.9-61-61-61-60 27.9-60 61 26.9 60 60 60zm0 0" class="undefined"/><path d="m15 300h30c91.1 0 167 75.9 167 167v30c0 8.3 6.7 15 15 15h30c8.3 0 15-6.7 15-15v-30c0-124.3-102.7-227-227-227h-30c-8.3 0-15 6.7-15 15v30c0 8.3 6.7 15 15 15zm0 0" class="undefined"/><path d="m15 180h30c157.4 0 287 129.6 287 287v30c0 8.3 6.7 15 15 15h30c8.3 0 15-6.7 15-15v-30c0-190.5-156.5-347-347-347h-30c-8.3 0-15 6.7-15 15v30c0 8.3 6.7 15 15 15zm0 0" class="undefined"/><path d="m45 0h-30c-8.3 0-15 6.7-15 15v30c0 8.3 6.7 15 15 15h30c223.7 0 407 183.3 407 407v30c0 8.3 6.7 15 15 15h30c8.3 0 15-6.7 15-15v-30c0-256.8-210.2-467-467-467zm0 0"/></svg>
    </div>
    <div id="buttons-container">

        <button class="button digit-button">7</button>
        <button class="button digit-button">8</button>
        <button class="button digit-button">9</button>
        <button class="button digit-button">4</button>
        <button class="button digit-button">5</button>
        <button class="button digit-button">6</button>
        <button class="button digit-button">1</button>
        <button class="button digit-button">2</button>
        <button class="button digit-button">3</button>
        <button class="button digit-button">0</button>

        <button id="control-btn" class="button">
            <svg id="control-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50" height="50"><path d="M39 0C35.7 0 28.8-0.1 25.1 3.6L24.5 4.2 24.5 4.3C20.5 8.2 20.1 14.1 22.9 18.6L2.4 37.3 2.4 37.3C1.5 38.2 0.5 39.8 0.3 41.6 0 43.5 0.5 45.7 2.4 47.7 4.3 49.6 6.5 50.1 8.4 49.8 10.3 49.5 11.8 48.6 12.7 47.7L12.7 47.7 12.7 47.6C12.7 47.6 17.4 42.3 22.2 37 24.6 34.3 27 31.7 28.8 29.8 29.7 28.8 30.5 28 31 27.4 31.2 27.3 31.3 27.2 31.4 27.1 35.8 30 41.8 29.6 45.8 25.6L46.4 24.9C48.2 23.1 49.1 20.5 49.5 18 49.9 15.4 49.9 12.9 49.9 11.2 49.9 10.8 49.9 10.5 49.6 10.1 49.3 9.7 48.7 9.6 48.4 9.7 47.8 9.8 47.6 10.1 47.6 10.1L47.6 10.2C47.6 10.2 41.8 15.9 41.1 16.7 41 16.7 41 16.7 41 16.7 40.8 16.7 40.5 16.8 40.2 16.8 39.5 16.8 38.5 16.7 37.6 16.7 36.6 16.6 35.7 16.4 35 16.3 34.6 16.2 34.3 16.1 34.1 16.1 34 16 34 16 33.9 16 33.9 16 33.9 15.9 33.9 15.9 33.8 15.7 33.8 15.4 33.7 15 33.5 14.3 33.4 13.4 33.3 12.5 33.3 11.6 33.2 10.6 33.3 9.9 33.3 9.6 33.3 9.3 33.3 9.1 33.3 9 33.4 9 33.4 9 34.2 8.1 39.9 2.4 39.9 2.4L40 2.4 40 2.4C40 2.4 40.3 2.2 40.4 1.6 40.5 1.3 40.5 0.8 40.1 0.4 39.7 0.1 39.3 0 39 0ZM37.7 2C36.4 3.2 32.6 7.1 31.9 7.7 31.6 8.1 31.5 8.4 31.5 8.8 31.4 9.1 31.4 9.5 31.3 9.9 31.3 10.7 31.4 11.6 31.4 12.6 31.5 13.6 31.6 14.6 31.8 15.4 31.9 15.8 32 16.2 32.1 16.5 32.2 16.8 32.3 17 32.6 17.4 32.9 17.7 33.2 17.8 33.5 17.9 33.8 18 34.2 18.1 34.6 18.2 35.4 18.3 36.4 18.4 37.4 18.5 38.4 18.6 39.4 18.7 40.2 18.7 40.6 18.7 40.9 18.6 41.3 18.6 41.6 18.5 41.8 18.6 42.3 18.2 42.8 17.7 46.7 13.7 48 12.4 47.9 14 47.9 15.7 47.6 17.7 47.2 20 46.4 22.3 45.1 23.6L44.4 24.3C40.6 28.1 34.6 28 30.8 24.2L25.8 19.2C22.1 15.4 22 9.5 25.8 5.6L26.5 4.9C29 2.4 34.2 2.1 37.7 2ZM24 20C24.2 20.2 24.3 20.4 24.5 20.6L29.5 25.6C29.6 25.7 29.8 25.8 29.9 25.9 29.9 26 29.8 26 29.8 26.1 29.2 26.7 28.4 27.5 27.5 28.5 25.6 30.5 23.2 33.1 20.8 35.8 16.1 41.1 11.4 46.4 11.4 46.4L11.4 46.4C10.8 47 9.5 47.8 8.1 48 6.7 48.2 5.2 48 3.7 46.4 2.1 44.9 1.8 43.3 2 41.9 2.2 40.5 3 39.3 3.6 38.7L3.7 38.6Z"/></svg>
        </button>
        <button id="signal-btn" class="button">
            <svg id="signal-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M467.8 431.9l-36.7-61.1c-16.9-28.2-25.8-60.4-25.8-93.3V224c0-82.3-67-149.3-149.3-149.3S106.7 141.7 106.7 224v53.5c0 32.9-8.9 65.1-25.8 93.3l-36.7 61.1c-2 3.3-2 7.4-0.1 10.7 1.9 3.3 5.5 5.4 9.3 5.4h405.3c3.8 0 7.4-2.1 9.3-5.4C469.8 439.3 469.8 435.1 467.8 431.9zM72.2 426.7l26.9-44.9C118 350.3 128 314.2 128 277.5V224c0-70.6 57.4-128 128-128s128 57.4 128 128v53.5c0 36.7 10 72.8 28.9 104.3l27 44.9H72.2z"/><path d="M256 0c-23.5 0-42.7 19.1-42.7 42.7v42.7C213.3 91.2 218.1 96 224 96s10.7-4.8 10.7-10.7V42.7c0-11.8 9.6-21.3 21.3-21.3s21.3 9.6 21.3 21.3v42.7C277.3 91.2 282.1 96 288 96s10.7-4.8 10.7-10.7V42.7C298.7 19.1 279.5 0 256 0z"/><path d="M302.2 431.9c-3-5.1-9.5-6.7-14.6-3.8 -5.1 3-6.8 9.5-3.8 14.6 2.8 4.7 4.3 10.4 4.3 15.9 0 17.6-14.4 32-32 32 -17.6 0-32-14.4-32-32 0-5.6 1.5-11.2 4.3-15.9 3-5.1 1.3-11.6-3.8-14.6 -5.1-2.9-11.6-1.3-14.6 3.8 -4.7 8.1-7.2 17.3-7.2 26.7C202.7 488.1 226.6 512 256 512s53.3-23.9 53.4-53.3C309.4 449.2 306.9 440 302.2 431.9z"/></svg>
        </button>
    </div>


    <div id="lock-status-container">

    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ui.js"></script>
<script src="~/js/codelock.js"></script>
<script src="~/js/site.js"></script>

</body>
</html>


